.p-button {
  min-width: 0.88rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.2rem;
  box-sizing: border-box;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 0.96rem;
  color: #fff;
  background: #dc3c38;
}

.nav-bar .nb-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.nav-bar .nb-title {
  font-size: 0.36rem;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.nav-bar .nb-logo-title {
  height: 0.6rem;
}

.nav-bar .p-button.back {
  height: 100%;
  position: absolute;
}

.nav-bar .icon-back {
  display: block;
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-bottom: 0.04rem solid #fff;
  border-left: 0.04rem solid #fff;
  -webkit-transform: scaleY(1.1) rotateZ(45deg);
  transform: scaleY(1.1) rotateZ(45deg);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
  outline: none !important;
  box-sizing: border-box;
}

*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #000;
  height: 100%;
  line-height: 1.4;
  font-size: 46px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.3rem;
}

p {
  line-height: 1.4;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.bg {
  border-radius: 0.08rem;
  background-color: #373743;
}

.sprite {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(http://s0.meituan.net/bs/file/?f=myfe/piaofang:/img/pc-sprite-3d92a0c1.png);
  background-size: 3.48rem 0.5rem;
}

.sprite-tiny-star {
  width: 0.14rem;
  height: 0.13rem;
  background-position: -0.04rem -0.04rem;
}

.sprite-arrow {
  width: 0.18rem;
  height: 0.14rem;
  background-position: -0.26rem -0.04rem;
  margin-left: 0.07rem;
  margin-top: -0.06rem;
}

.sprite-star-gray {
  width: 0.22rem;
  height: 0.21rem;
  background-position: -0.52rem -0.04rem;
  vertical-align: top;
}

.sprite-star {
  width: 0.22rem;
  height: 0.21rem;
  background-position: -0.82rem -0.04rem;
  vertical-align: top;
}

.sprite-star-big {
  width: 0.41rem;
  height: 0.39rem;
  background-position: -1.12rem -0.04rem;
}

.sprite-logo {
  width: 1.83rem;
  height: 0.42rem;
  background-position: -1.61rem -0.04rem;
  margin-right: 0.18rem;
}

.calendar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.dashboard-page {
  width: 100%;
  height: 100%;
  background: #000;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-title {
  height: 0.7rem;
  line-height: 0.7rem;
  background-color: #30303b;
  position: relative;
  text-align: center;
  font-size: 0.28rem;
}

.dashboard-title-clock {
  font-size: 0.26rem;
  position: absolute;
  top: 0;
  left: 0.3rem;
}

.dashboard-title-clock .sprite-logo {
  vertical-align: top;
  margin-top: 0.14rem;
}

.dashboard-nav {
  cursor: pointer;
  font-size: 0.28rem;
  background-color: #000;
  border-radius: 1rem;
  display: inline-block;
  height: 0.52rem;
  line-height: 0.52rem;
  padding: 0 0.05rem;
  vertical-align: middle;
}

.dashboard-nav span {
  border-radius: 1rem;
  height: 0.44rem;
  line-height: 0.44rem;
  padding: 0.05rem 0.2rem;
}

.dashboard-nav span.active {
  background-color: #464556;
}

.dashboard-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: calc(100vh - 0.7rem);
  position: relative;
}

.dashboard-left {
  position: absolute;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 0.5rem;
  width: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-detail {
  -webkit-box-flex: 620;
  -ms-flex: 620;
  flex: 620;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.detail-part-name {
  padding-top: 0.58rem;
}

.detail-title {
  font-size: 0.36rem;
}

.detail-title .sprite-star {
  margin: 0.12rem 0.1rem 0 0;
}

.detail-releaseinfo {
  opacity: 0.5;
  font-size: 0.28rem;
}

.detail-part-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-box {
  margin: auto;
}

.detail-realtime-desc {
  opacity: 0.6;
  font-size: 0.3rem;
}

.detail-realtime {
  color: #ff6a00;
  font-size: 0.6rem;
}

.detail-realtime-ratio {
  margin-top: -0.1rem;
  opacity: 0.8;
  font-size: 0.28rem;
}

.detail-part-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.55rem;
}

.detail-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.detail-item-title {
  opacity: 0.6;
  font-size: 0.28rem;
}

.detail-item-num {
  font-size: 0.4rem;
}

.detail-item-ratio {
  margin-top: -0.08rem;
  opacity: 0.8;
  font-size: 0.22rem;
}

.dashboard-push {
  height: 0.2rem;
}

.dashboard-calendar-container {
  -webkit-box-flex: 288;
  -ms-flex: 288;
  flex: 288;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-calendar {
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.cal-box {
  margin-top: 0.25rem;
  font-size: 0.42rem;
}

.cal-box-num {
  margin-left: 0.1rem;
  color: #ff6a00;
}

.cal-update-time {
  opacity: 0.8;
  font-size: 0.22rem;
  margin-top: 0.1rem;
}

.dashboard-list {
  position: absolute;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 6.1rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-table-header {
  height: 1.15rem;
}

.movielist-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.dashboard-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.dashboard-table .theader {
  line-height: 1.2;
}

.dashboard-table th {
  color: #999;
  font-weight: normal;
  font-size: 0.24rem;
  height: 1.11rem;
  line-height: 1.11rem;
}

.dashboard-table td {
  font-size: 0.28rem;
  text-align: center;
  height: 1.37rem;
  line-height: 1.37rem;
}

.dashboard-table .selected-movie {
  background-color: #535265 !important;
}

.dashboard-table tbody tr:nth-child(odd) {
  background-color: #3f3f4d;
}

.dashboard-table .realtime {
  color: #ffac00;
}

.dashboard-table .moviename-th {
  color: #fff;
  text-align: left;
  width: 4rem;
  box-sizing: border-box;
  padding-left: 0.45rem;
}

.dashboard-table .moviename-th .mn {
  font-size: 0.14rem;
}

.dashboard-table .moviename-td {
  overflow: hidden;
  line-height: 1.4;
  text-align: left;
  width: 4rem;
  box-sizing: border-box;
  padding-left: 0.38rem;
}

.dashboard-table .moviename-num {
  font-size: 0.26rem;
  width: 0.32rem;
  float: left;
}

.dashboard-table .moviename-index {
  opacity: 0.7;
  height: 0.45rem;
  line-height: 0.45rem;
}

.dashboard-table .moviename-star {
  margin-top: -0.03rem;
}

.dashboard-table .moviename-star .sprite {
  cursor: pointer;
}

.dashboard-table .moviename-desc {
  margin-left: 0.42rem;
}

.dashboard-table .moviename-name {
  font-size: 0.32rem;
}

.dashboard-table .moviename-info {
  opacity: 0.7;
  font-size: 0.2rem;
}

::-webkit-scrollbar {
  width: 12px;
  background: #484758;
}

::-webkit-scrollbar-track {
  background: #484758;
}

::-webkit-scrollbar-thumb {
  background-color: #201f2a;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.narrow .dashboard-detail {
  -webkit-box-flex: 426;
  -ms-flex: 426;
  flex: 426;
}

.narrow .dashboard-calendar-container {
  -webkit-box-flex: 200;
  -ms-flex: 200;
  flex: 200;
}
